body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
  }
  #question-container {
    font-size: 10px;
    padding: 20px 0px;
  }
  
  .quiz-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 375px;
  }
  #answer-buttons {
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .btn {
    margin: 5px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: flex;
    justify-content: flex-start;
  }
  
  .btn:hover {
    background-color: #0bcaff;
  }
  